* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    padding: 1rem 0;
    font-size: 2rem;
    font-family: sans-serif;
    color: rgb(41, 61, 61);
}

#items-to-shop div {
    display: flex;
    margin-top: 20px;
}

ul {
    margin-top: -1rem;
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
}

#btn {

    background-color: rgb(116, 232, 116);
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
}

input {
    border-radius: 20px;
    padding: 5px 10px;
    width: 60%;
    border: none;
    outline: none;
}

input:focus {
    border: green 2px solid;
    outline: none;
}

.btn {
    margin-left: 20px;
    background-color: rgb(243, 141, 141);
    border: 2px rgb(34, 180, 21) solid;
    width: 3rem;
    border-radius: 20px;
    padding: 5px;
}

.newBtn {
    margin-left: 20px;
    height: 20px;
    width: 50px;
}

#house {
    max-width: 500px;
    margin: 4rem auto;
    background-color: pink;
    padding: 2rem;
    border-radius: 20px;
}